USE [master]
GO
/****** Object:  Database [GYMFLOW_DB]    Script Date: 5/24/2026 3:57:24 AM ******/
CREATE DATABASE [GYMFLOW_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GYMFLOW_DB', FILENAME = N'C:\Sql Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GYMFLOW_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GYMFLOW_DB_log', FILENAME = N'C:\Sql Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GYMFLOW_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GYMFLOW_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GYMFLOW_DB]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 5/24/2026 3:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[LogDateTime] [datetime] NULL,
	[MemberID] [int] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 5/24/2026 3:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Weight] [decimal](5, 2) NULL,
	[Height] [decimal](5, 2) NULL,
	[JoinDate] [date] NULL,
	[ExpiryDate] [date] NOT NULL,
	[SubscriptionStatus] [nvarchar](50) NULL,
	[PlanID] [int] NULL,
	[TrainerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipPlans]    Script Date: 5/24/2026 3:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipPlans](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](100) NOT NULL,
	[DurationMonths] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainers]    Script Date: 5/24/2026 3:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainers](
	[TrainerID] [int] IDENTITY(1,1) NOT NULL,
	[TrainerName] [nvarchar](150) NOT NULL,
	[Specialty] [nvarchar](100) NULL,
	[Salary] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[TrainerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/24/2026 3:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[UserPassword] [nvarchar](100) NOT NULL,
	[UserRole] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([AttendanceID], [LogDateTime], [MemberID], [UserID]) VALUES (1, CAST(N'2026-05-23T06:06:34.120' AS DateTime), 1, 2)
INSERT [dbo].[Attendance] ([AttendanceID], [LogDateTime], [MemberID], [UserID]) VALUES (2, CAST(N'2026-05-23T06:06:34.120' AS DateTime), 2, 2)
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberID], [FullName], [Phone], [Weight], [Height], [JoinDate], [ExpiryDate], [SubscriptionStatus], [PlanID], [TrainerID]) VALUES (1, N'Mohammad Baniyounis', N'0781061796', CAST(67.00 AS Decimal(5, 2)), CAST(175.00 AS Decimal(5, 2)), CAST(N'2026-05-23' AS Date), CAST(N'2026-06-23' AS Date), N'Active', 1, 1)
INSERT [dbo].[Members] ([MemberID], [FullName], [Phone], [Weight], [Height], [JoinDate], [ExpiryDate], [SubscriptionStatus], [PlanID], [TrainerID]) VALUES (2, N'Malik Shehadeh', N'0788888888', CAST(75.00 AS Decimal(5, 2)), CAST(175.00 AS Decimal(5, 2)), CAST(N'2026-05-23' AS Date), CAST(N'2026-08-23' AS Date), N'Active', 2, 2)
INSERT [dbo].[Members] ([MemberID], [FullName], [Phone], [Weight], [Height], [JoinDate], [ExpiryDate], [SubscriptionStatus], [PlanID], [TrainerID]) VALUES (3, N'Adbulhdie Riyati', N'0779999999', CAST(90.20 AS Decimal(5, 2)), CAST(182.00 AS Decimal(5, 2)), CAST(N'2026-05-23' AS Date), CAST(N'2026-06-23' AS Date), N'Active', 1, 1)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[MembershipPlans] ON 

INSERT [dbo].[MembershipPlans] ([PlanID], [PlanName], [DurationMonths], [Price]) VALUES (1, N'Monthly Pass', 1, CAST(30.00 AS Decimal(18, 2)))
INSERT [dbo].[MembershipPlans] ([PlanID], [PlanName], [DurationMonths], [Price]) VALUES (2, N'3-Month VIP', 3, CAST(75.00 AS Decimal(18, 2)))
INSERT [dbo].[MembershipPlans] ([PlanID], [PlanName], [DurationMonths], [Price]) VALUES (3, N'6-Month Golden', 6, CAST(130.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[MembershipPlans] OFF
GO
SET IDENTITY_INSERT [dbo].[Trainers] ON 

INSERT [dbo].[Trainers] ([TrainerID], [TrainerName], [Specialty], [Salary]) VALUES (1, N'Captain Ahmad', N'Bodybuilding', CAST(450.00 AS Decimal(18, 2)))
INSERT [dbo].[Trainers] ([TrainerID], [TrainerName], [Specialty], [Salary]) VALUES (2, N'Captain Omar', N'Cardio & Fitness', CAST(400.00 AS Decimal(18, 2)))
INSERT [dbo].[Trainers] ([TrainerID], [TrainerName], [Specialty], [Salary]) VALUES (3, N'Captain Ali', N'MMA & Kickboxing', CAST(500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Trainers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [UserPassword], [UserRole]) VALUES (1, N'admin', N'admin', N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [UserPassword], [UserRole]) VALUES (2, N'cashier1', N'cashier123', N'Cashier')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4876A73D8]    Script Date: 5/24/2026 3:57:25 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT (getdate()) FOR [LogDateTime]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT (getdate()) FOR [JoinDate]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ('Active') FOR [SubscriptionStatus]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD FOREIGN KEY([PlanID])
REFERENCES [dbo].[MembershipPlans] ([PlanID])
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD FOREIGN KEY([TrainerID])
REFERENCES [dbo].[Trainers] ([TrainerID])
GO
USE [master]
GO
